# Private key of the deployer account 
DEPLOYER_PRIVATE_KEY=

# Scan explorer API key
SCAN_API_KEY=

# RPC URL for Ethereum
ETHEREUM_URL=https://rpc.ankr.com/eth

# RPC URL for Goerli(testnet)
GOERLI_URL=https://rpc.ankr.com/eth_goerli

# RPC URL for Polygon
POLYGON_URL=https://rpc.ankr.com/polygon

# RPC URL for Mumbai(testnet)
MUMBAI_URL=https://rpc.ankr.com/polygon_mumbai

# RPC URL for Arbitrum One
ARBITRUM_URL=https://arb1.arbitrum.io/rpc

# RPC URL for Arbitrum(testnet)
ARBITRUMGOERLI_URL=https://sepolia-rollup.arbitrum.io/rpc

# RPC URL for Optimism
OPTIMISM_URL=https://rpc.ankr.com/optimism	

# RPC URL for Optimism(testnet)
OPTIMISMGOERLI_URL=https://goerli.optimism.io/

# RPC URL for zkEVM
ZKEVM_URL=https://zkevm-rpc.com

# RPC URL for zkEVM(testnet)
ZKEVMTESTNET_URL=https://rpc.public.zkevm-test.net

# RPC URL FOR Binance Smart Chain
BSC_URL=https://rpc.ankr.com/bsc

# RPC URL for Binance Smart Chain(testnet)
BSCTESTNET_URL=https://rpc.ankr.com/bsc_testnet_chapel

# RPC URL for Base
BASE_URL=https://base-rpc.publicnode.com

# RPC URL for Base(testnet)
BASETESTNET_URL=https://sepolia.base.org

# RPC URL for Mantle
MANTLE_URL=https://rpc.ankr.com/mantle

# RPC URL for Mantle(testnet)
MANTLETESTNET_URL=https://rpc.sepolia.mantle.xyz

# Gas Fee
GAS_PRICE_ETH=
GAS_PRICE_POL=
GAS_PRICE_ARB=
GAS_PRICE_OPT=
GAS_PRICE_ZKE=
GAS_PRICE_BSC=
GAS_PRICE_MNT=
GAS_PRICE_BAS=